---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {getAllQuotes,getSketches,getSearchResults} from "../sanity/api.js";
import {urlForImage} from '../sanity/urlForImage.js';

const quotes = await getAllQuotes();
//const quotes = await getSearchResults('tuna');
---

<Layout title="I Think You Should Leave Quote Database">
	<main>
		<h1 class="font-serif text-center text-4xl pt-5">I Think You Should Quote</h1>
		<h2 class="font-serif text-center text-lg">ITYSL Quote Database</h2>
		<ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 auto-rows-max">
			{quotes.map((quote: { charactername: string; quote: string; sketch: string; season: string; episode: string; characterimage: string; }) =>
				<Card
					quote={quote.quote}
					imgurl={urlForImage(quote.characterimage).width(600).url()}
					sketch={quote.sketch}
					season={quote.season}
					episode={quote.episode}
					character={quote.charactername}
				/>
			)}
		</ul>
	</main>
</Layout>